@import 'basscss';
@import 'basscss-background-images';

.si-glyph-bubble-message-hi {
    width: 32px;
}


.bg-bbbf-blue {
    background-color: #a1c9e5;
}

.bg-bbbf-black {
    background-color: #1a1818;
}
