@import 'basscss';
@import 'basscss-background-images';

a.link-black {
    color: black;
}

a.link-black:visited {
    color: black;
}

a.link-black:hover {
    color: white;
    text-decoration: none;
}

a.link-white {
    color: white;
}

a.link-white:visited {
    color: white;
}

a.link-white:hover {
    color: black;
    text-decoration: none;
}

.si-glyph-bubble-message-hi {
    width: 32px;
}

.bg-bbbf-blue {
    background-color: #a1c9e5;
}

.bbbf-blue {
    color: #a1c9e5;
}

.bg-bbbf-black {
    background-color: #1a1818;
}

.font-title {
    font-family: 'Oswald', sans-serif;
}
.font-text {
    font-family: 'Roboto', sans-serif;
}

.top-1 { top: var(--space-1) }
.top-2 { top: var(--space-2) }
.top-3 { top: var(--space-3) }
.top-4 { top: var(--space-4) }

.left-minus-1 { left: -var(--space-1) }
.left-minus-2 { left: -var(--space-2) }
.left-minus-3 { left: -var(--space-3) }
.left-minus-4 { left: -var(--space-4) }

.muted-less {
    opacity: .75;
}

.sixteen-nine {
    position: relative;
}
.sixteen-nine {
    display: block;
    content: "";
    width: 100%;
    padding-top: 52.34%
}

.sixteen-nine > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.border-bbbf {
    border-left: 1px dotted white;
}

.border-bottom-dotted {
    border-bottom: 2px dotted black;
}

.day {
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    font-weight: bolder;
    color: white;
    text-stroke: 6px black;
    -webkit-text-stroke: 6px black;
    text-align: right;
}
