@import 'basscss';
@import 'basscss-background-images';

.si-glyph-bubble-message-hi {
    width: 32px;
}

.bg-bbbf-blue {
    background-color: #a1c9e5;
}

.bg-bbbf-black {
    background-color: #1a1818;
}

.font-title {
    font-family: 'Oswald', sans-serif;
}
.font-text {
    font-family: 'Roboto', sans-serif;
}

.top-1 { top: var(--space-1) }
.top-2 { top: var(--space-2) }
.top-3 { top: var(--space-3) }
.top-4 { top: var(--space-4) }

.left-minus-1 { left: -var(--space-1) }
.left-minus-2 { left: -var(--space-2) }
.left-minus-3 { left: -var(--space-3) }
.left-minus-4 { left: -var(--space-4) }

.muted-less {
    opacity: .75;
}

.sixteen-nine {
    position: relative;
}
.sixteen-nine {
    display: block;
    content: "";
    width: 100%;
    padding-top: 33.33%
}

.sixteen-nine > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
