footer.white.bg-black
  .px2.py3.container
    .clearfix.mxn2
      .col.col-4.px3
        h3.mt0.pt0.font-title BB Blues Fest
        p.font-text.h6.
          O <strong>BB Blues Fest</strong> resulta de uma parceria entre a <strong>Associação BB Blues Portugal</strong>, a <strong>Câmara Municipal da Moita</strong> e a <strong>União de Freguesias da Baixa da Banheira e Vale da Amoreira</strong>.
      .col.col-4.px3.border-bbbf
        h3.m0.mb1.font-title Organização
        .container
          .col.col-8.px1
            img(src="/images/logo-sfm.png")
          .col.col-4.px1
            img(src="/images/logo-bbbp.png")
        .container
          .col.col-8.px1
            img(src="/images/logo-cmm.png")
          .col.col-4.px1
            img(src="/images/logo-bb.png")
      .col.col-4.px3
        h3.m0.mb1.font-title Links
        a.h5.btn(href="https://www.facebook.com/Bbbluesfest")
          .table
            img.table-cell.align-middle(src="/images/facebook.png").mr1
            .table-cell.align-middle Página do Facebook
        a.h5.btn(href="https://www.facebook.com/groups/107119646092271/")
          .table
            img.table-cell.align-middle(src="/images/facebook.png").mr1
            .table-cell.align-middle Grupo do Facebook
p.center.h6.mb0.font-text
      | &copy; 2016 Associação BB Blues Portugal
    //
        div.center
          a.btn.py2(href="/pt/") pt
          span.py2 |
          a.btn.py2(href="/en/") en
          span.py2 |
          a.btn.py2(href="/es/") es
