footer.white.bg-black
  .px2.py3.container
    .clearfix.mxn2
      .col.col-4.px3
        h3.mt0.pt0.font-title BB Blues Fest
        p.font-text.h6.
          Ao longo das últimas quatro edições, este Festival tem sabido afirmar-se e conseguido fidelizar cada vez mais público, sendo já uma referência no panorama do Blues nacional.
        p.font-text.h6.
          Realizado no Fórum Cultural José Manuel Figueiredo, na Baixa da Banheira, o BB Blues Fest aposta sempre na qualidade do seu cartaz, apresentando os melhores nomes do Blues português e internacional, numa simbiose perfeita que celebra as raízes deste género musical.
      .col.col-4.px3
        h3.m0.mb1.font-title Organização
        .container
          .col.col-8
            img(src="/images/logo-sfm.png")
          .col.col-4
            img(src="/images/logo-bbbp.png")
        .container
          .col.col-8
            img(src="/images/logo-cmm.png")
          .col.col-4
            img(src="/images/logo-bb.png")
      .col.col-4.px3
        ul.list-reset.font-text
          li
            h3.m0.font-title Links
          li
            a.h5.btn.block(href="https://www.facebook.com/Bbbluesfest")
              img(src="/images/facebook.png")
              | Página do Facebook
          li
            a.h5.btn.block(href="https://www.facebook.com/groups/107119646092271/")
              img(src="/images/facebook.png")
              | Grupo do Facebook
    p.center.h6.mb0.font-text
      | &copy; 2016 Associação BB Blues Portugal
    //
        div.center
          a.btn.py2(href="/pt/") pt
          span.py2 |
          a.btn.py2(href="/en/") en
          span.py2 |
          a.btn.py2(href="/es/") es
