footer.white.bg-black
  .px2.py3.container
    .clearfix.mxn2
      .col.col-4.px3
        h3.mt0.pt0.font-title BB BLUES FEST
        p.font-text.h6.
          O <strong>BB Blues Fest</strong> resulta de uma parceria entre a <strong>Associação BB Blues Portugal</strong>, a <strong>Câmara Municipal da Moita</strong> e a <strong>União de Freguesias da Baixa da Banheira e Vale da Amoreira</strong>.
        .container
            a.h5.btn.col.col-6(href="https://www.facebook.com/Bbbluesfest")
              .table
                img.table-cell.align-middle(src="/images/facebook.png").mr1
                .table-cell.align-middle=__("PÁGINA")
            a.h5.btn.col.col-6(href="https://www.facebook.com/groups/107119646092271/")
              .table
                img.table-cell.align-middle(src="/images/facebook.png").mr1
                .table-cell.align-middle=__("GRUPO")
        .container
            a.h5.btn.col.col-6(href="https://twitter.com/BBBluesPortugal")
              .table
                img.table-cell.align-middle(src="/images/twitter.png").mr1
                .table-cell.align-middle TWITTER
            a.h5.btn.col.col-6(href="https://youtube.com/channel/UCv-LKLXWxaDVP9opo-AjghA")
              .table
                img.table-cell.align-middle(src="/images/youtube.png").mr1
                .table-cell.align-middle YOUTUBE
      .col.col-8.px3.border-bbbf
        h3.m0.mb1.font-title=__("ORGANIZAÇÃO E MEDIA")
        .container
          a.col.col-4.px1(href="http://www.superfm.com/")
            img(src="/images/logo-sfm.png")
          .col.col-2.px1
            img(src="/images/logo-bbbp.png")
          a.col.col-4.px1(href="http://www.cm-moita.pt/")
            img(src="/images/logo-cmm.png")
          a.col.col-2.px1(href="http://www.ufbbva.pt/modules/news/")
            img(src="/images/logo-bb.png")
        h3.m0.mb1.font-title.col-8=__("APOIO")
        .container
          a.col.col-8.px1.ml2(href="http://www.castanheira-somusica.com/")
            img(src="/images/castanheira-logo.png")
  p.center.h6.mb0.font-text
    | &copy; 2017 Associação BB Blues Portugal
  div.h6.center
    a.btn.py2(href="/pt/") pt
    span.py2 |
    a.btn.py2(href="/en/") en
    span.py2 |
    a.btn.py2(href="/es/") es
