footer.white.bg-black
  .px2.py3.container
    .clearfix.mxn2
      .col.col-4.px3
        h3.mt0.pt0 BB Blues Fest
        p.h6.
          Ao longo das últimas quatro edições, este Festival tem sabido afirmar-se e conseguido fidelizar cada vez mais público, sendo já uma referência no panorama do Blues nacional.
        p.h6.
          Realizado no Fórum Cultural José Manuel Figueiredo, na Baixa da Banheira, o BB Blues Fest aposta sempre na qualidade do seu cartaz, apresentando os melhores nomes do Blues português e internacional, numa simbiose perfeita que celebra as raízes deste género musical.
      .col.col-4.px3
        h3.m0.mb1 Organização
        .container
          .col.col-4.border-right
            img(src="/images/logo-bbbp.png")
          .col.col-4.border-right
            img(src="/images/logo-cmm-2.png")
          .col.col-4.border-right
            img(src="/images/logo-bb.png")
      .col.col-4.px3
        ul.list-reset
          li
            h3.m0 Links
          li
            a.h5.btn.block(href="https://www.facebook.com/Bbbluesfest")
              img(src="/images/facebook.png")
              | Página do Facebook
          li
            a.h5.btn.block(href="https://www.facebook.com/groups/107119646092271/")
              img(src="/images/facebook.png")
              | Grupo do Facebook
    p.center.h6.mb0
      | &copy; 2016 Associação BB Blues Portugal
