head
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(charset='utf-8')
    meta(property="og:url", content="http://bbbluesfest.com")
    meta(property="og:title", content="BB Blues Fest 2017")
    meta(property="og:image", content="http://bbbluesfest.com/images/bbbf-site-fb.jpg")
    meta(property="og:description", content="&laquo;Onde as raízes do blues se celebram&raquo;... Nunca foi tão atual o mote do festival como nesta 6ª edição do BB Blues Fest. De 22 a 25 de junho, a Baixa da Banheira volta a ser o palco por excelência do blues em Portugal. Realizado no Fórum Cultural José Manuel Figueiredo, na Baixa da Banheira, o BB Blues Fest aposta sempre na qualidade do seu cartaz, apresentando os melhores nomes do Blues português e internacional, numa simbiose perfeita que celebra as raízes deste género musical.")
    meta(property="og:site_name", content="BB Blues Fest")
    title= pageTitle
    script(src="/js/jquery-2.2.3.min.js")
    link(rel="icon", type="image/x-icon", href="favicon.ico")
    link(href='/stylesheets/app.css', rel='stylesheet')
    link(rel="stylesheet", href="/stylesheets/unslider.css")
    link(rel="stylesheet", href="/stylesheets/unslider-dots.css")
    link(rel="stylesheet", href="//cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.css")
    link(href="https://fonts.googleapis.com/css?family=Oswald:700", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic",rel="stylesheet",type="text/css")
    script(src="/js/unslider.min.js")
    script(src="//cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.js")
    script(src="/js/main.js")
    script(src="/js/googleanalytics.js")
