head
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(charset='utf-8')
    meta(property="og:url", content="https://bbbluesfest.com")
    meta(property="og:title", content="BB Blues Fest 2018")
    meta(property="og:image:secure_url", content="https://bbbluesfest.com/images/bbbf-site-fb.jpg")
    meta(property="og:image:type", content="image/jpeg")
    meta(property="og:description", content="A 7ª edição do BB Blues Fest volta, este ano, entre os dias 31 de Maio e 3 de Junho. O BB Blues Fest tem apostado sempre na qualidade do seu cartaz, apresentando os melhores nomes do blues português e internacional, numa simbiose perfeita que celebra as raízes deste género musical e esta edição não vai ser exceção.")
    meta(property="og:site_name", content="BB Blues Fest")
    title= pageTitle
    script(src="/js/jquery-2.2.3.min.js")
    link(rel="icon", type="image/x-icon", href="favicon.ico")
    link(href='/stylesheets/app.css', rel='stylesheet')
    link(rel="stylesheet", href="/stylesheets/unslider.css")
    link(rel="stylesheet", href="/stylesheets/unslider-dots.css")
    link(rel="stylesheet", href="//cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.css")
    link(href="https://fonts.googleapis.com/css?family=Oswald:700", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic",rel="stylesheet",type="text/css")
    script(src="/js/unslider.min.js")
    script(src="//cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.js")
    script(src="/js/main.js")
    script(src="/js/googleanalytics.js")
