head
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(charset='utf-8')
    meta(property="og:url", content="http://bbbluesfest.com.pt")
    meta(property="og:title", content="BB Blues Fest 2016")
    meta(property="og:description", content="23 a 26 de Junho de 2016. Realizado no Fórum Cultural José Manuel Figueiredo, na Baixa da Banheira, o BB Blues Fest aposta sempre na qualidade do seu cartaz, apresentando os melhores nomes do Blues português e internacional, numa simbiose perfeita que celebra as raízes deste género musical.")
    meta(property="og:site_name", content="BB Blues Fest")
    title= pageTitle
    script(src="https://code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
    link(rel="icon", type="image/x-icon", href="favicon.ico")
    link(href='/stylesheets/app.css', rel='stylesheet')
    link(rel="stylesheet", href="/stylesheets/unslider.css")
    link(rel="stylesheet", href="/stylesheets/unslider-dots.css")
    link(href="https://fonts.googleapis.com/css?family=Oswald:700", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic",rel="stylesheet",type="text/css")
    script(src="/js/unslider.min.js")
    script(src="/js/main.js")
