doctype html
html(lang="en")
  include ./includes/head.pug
  body.container.bg-bbbf-black
    include ./includes/top-nav.pug

    section.bg-white
      .h2=band.name
      img(src="/images/bandas/" + band.pic).max-width-1
      div=band.info

    include ./includes/footer.pug
