doctype html
html(lang="en")
  include ./includes/head.pug
  body.container.bg-bbbf-black
    include ./includes/top-nav.pug

    section.bg-bbbf-blue.py3.px4
      .h1.font-title.mb2.white=band.name.toUpperCase()
      if band.pic
          img.left.mr2.mb2.max-width-2(src="/images/bandas/" + band.pic)
      .font-text !{band.info}
      .clearfix

    include ./includes/footer.pug
