doctype html
html(lang="en")
  include ./includes/head.jade
  body.container.bg-bbbf-black
    include ./includes/top-nav.jade

    section.bg-white.container.px4.py2.bg-bbbf-blue
      div
        img(src="/images/home-banner-logo.png")
      :markdown-it
        Pode adquir Bilhetes directamente no Forum Cultural José Manuel Figueiredo ou online,
        através da Ticketline.

        Contacto bilheteira: **Tel: 210 888 900**

        Horário bilheteira: **Terça-feira a Sábado, das 14:30H às 19:30H**

        Email: **forum.cultural.jmf@mail.cm-moita.pt**

    include ./includes/footer.jade
