doctype html
html(lang="en")
  include ./includes/head.pug
  body.container.bg-bbbf-black
    include ./includes/top-nav.pug

    section.bg-white.container.px4.py2.bg-bbbf-blue.font-text
      div.max-width-2
        img(src="/images/logo.png")
      .font-text
        :markdown-it
            # Reserva de Bilhetes

            Fórum Cultural José Manuel Figueiredo
            Rua José Vicente, 2835-134 Baixa da Banheira

            # Horário da Bilheteira

            De terça-feira a sábado, das 14:30h às 19:30h

            Dias de espetáculo e cinema: Uma hora antes do início do espetáculo ou sessão;
            encerra aquando do início do espetáculo ou sessão.

            Os bilhetes podem ainda ser reservados, através do telefone 210 888 900,
            no horário de funcionamento da bilheteira. As reservas têm que ser levantadas,
            no máximo, à véspera do espetáculo/sessão, com um limite de cinco bilhetes por reserva.

      //- .table
      //-   h2.font-title.black.table-cell.black.align-middle
      //-     a.link-black(href="https://ticketline.sapo.pt/evento/bb-blues-fest-41348") LINK: TICKETLINE
      //-   a.link-black(href="https://ticketline.sapo.pt/evento/bb-blues-fest-41348")
      //-     img(src="/images/seta.png").table-cell

      //- .table
      //-   h2.font-title.black.table-cell.black.align-middle
      //-     a.link-black(href="http://ticketline.sapo.pt/pagina/postosdevenda")="LINK: Postos de Venda Aderentes".toUpperCase()
      //-   a.link-black(href="http://ticketline.sapo.pt/pagina/postosdevenda")
      //-     img(src="/images/seta.png").table-cell

      //- .mt3.font-text
      //-   //h2.font-title Fórum Cultural José Manuel Figueiredo
      //-   :markdown-it
      //-     ## Informação disponível brevemente...

    include ./includes/footer.pug
