doctype html
html(lang="en")
  include ./includes/head.pug
  body.container.bg-bbbf-black
    include ./includes/top-nav.pug

    section.bg-white.container.px4.py2.bg-bbbf-blue.font-text
      .font-text
        :markdown-it
            # Palco Principal 24 e 25 de Setembro

            ## [ Link para: Ticketline ](https://ticketline.sapo.pt/evento/bb-blues-fest-56882)

            **Bilhetes também à venda nos parceiros Tickeline habituais:** Fnac, Worte, etc.

            Passe de dois dias (24 e 25 de Setembro) - 30 euros.
            Passe diário para dia 24 ou dia 25 - 20 euros.

            # Noite de Abertura 23 de Setembro

            Concerto com o Grupo Dixieland da Banda da Armada.
            Espetáculo gratuito, sujeito a reserva e de acordo com as restrições em vigor.

            **Reservas (A partir de 8 de Setembro):**

            **Bilheteira do Fórum Cultural José Manuel Figueiredo**, Rua José Vicente, 2835-134 Baixa da Banheira. Horário da Bilheteira: de terça-feira a sábado, das 14:30h às 19:30h

            Os bilhetes podem ainda ser reservados, através do telefone 210 888 900, no horário de funcionamento da bilheteira. As reservas têm que ser levantadas, no máximo,
            à véspera do espetáculo/sessão, com um limite de cinco bilhetes por reserva

            # Blues Picnic 3 de Outubro

            Devido às restrições impostas pelo governo relativamente a eventos temos de aceitar reservas
            para estes espetáculos.

            ## [ Por favor faça a sua reserva aqui ](https://docs.google.com/forms/d/e/1FAIpQLSc3qB9RDN4LvHXUoEAde-VSDi61MfgXFp2R5blAwSF8ARYcMA/viewform)

      //- .table
      //-   h2.font-title.black.table-cell.black.align-middle
      //-     a.link-black(href="https://ticketline.sapo.pt/evento/bb-blues-fest-41348") LINK: TICKETLINE
      //-   a.link-black(href="https://ticketline.sapo.pt/evento/bb-blues-fest-41348")
      //-     img(src="/images/seta.png").table-cell

      //- .table
      //-   h2.font-title.black.table-cell.black.align-middle
      //-     a.link-black(href="http://ticketline.sapo.pt/pagina/postosdevenda")="LINK: Postos de Venda Aderentes".toUpperCase()
      //-   a.link-black(href="http://ticketline.sapo.pt/pagina/postosdevenda")
      //-     img(src="/images/seta.png").table-cell

      //- .mt3.font-text
      //-   //h2.font-title Fórum Cultural José Manuel Figueiredo
      //-   :markdown-it
      //-     ## Informação disponível brevemente...

    include ./includes/footer.pug
