doctype html
html(lang="en")
  include ./includes/head.jade
  body.container.bg-bbbf-black
    include ./includes/top-nav.jade

    section.bg-white.container.px4.py2.bg-bbbf-blue.font-text
      div.max-width-2
        img(src="/images/home-banner-logo.png")
      .font-text
        :markdown-it
          Pode adquirir bilhetes directamente no **Fórum Cultural José Manuel Figueiredo** ou online,
          através da ticketline (e nos seus postos de venda aderentes).

      .table
        h2.font-title.black.table-cell.black.align-middle
          a.link-black(href="http://ticketline.sapo.pt/evento/BB-BLUES-FEST-13924") LINK: TICKELINE
        a.link-black(href="http://ticketline.sapo.pt/evento/BB-BLUES-FEST-13924")
          img(src="/images/seta.png").table-cell

      .table
        h2.font-title.black.table-cell.black.align-middle
          a.link-black(href="http://ticketline.sapo.pt/pagina/postosdevenda")="LINK: Postos de Venda Aderentes".toUpperCase()
        a.link-black(href="http://ticketline.sapo.pt/pagina/postosdevenda")
          img(src="/images/seta.png").table-cell

      .mt3.font-text
        h2 Fórum Cultural José Manuel Figueiredo
        :markdown-it
          Contacto bilheteira: **Tel: 210 888 900**

          Horário bilheteira: **Terça-feira a Sábado, das 14:30H às 19:30H**

          Dias de espectáculo e cinema – uma hora antes do início do espectáculo ou sessão.

          As reservas podem ser levantadas, no máximo, até 1h antes do início do espectáculo, com um limite de cinco bilhetes por reserva.

    include ./includes/footer.jade
