doctype html
html(lang="en")
  include ./includes/head.jade
  body.container.bg-bbbf-black
    include ./includes/top-nav.jade

    section.bg-white.container.px4.py2.bg-bbbf-blue.font-text
      div.max-width-2
        img(src="/images/home-banner-logo.png")
      .font-text
        :markdown-it
          pode adquir bilhetes directamente no forum cultural josé manuel figueiredo ou online,
          através da ticketline.

      .table
        h2.font-title.black.table-cell.black.align-middle
         a.link-black(href="http://ticketline.sapo.pt/evento/BB-BLUES-FEST-13924") LINK: TICKELINE
        a.link-black(href="http://ticketline.sapo.pt/evento/BB-BLUES-FEST-13924")
          img(src="/images/seta.png").table-cell
      a.block.h2.font-title.link-black.mb2(href="http://ticketline.sapo.pt/evento/BB-BLUES-FEST-13924",target="_blank") 

      .font-text
        :markdown-it
          Contacto bilheteira: **Tel: 210 888 900**

          Horário bilheteira: **Terça-feira a Sábado, das 14:30H às 19:30H**

    include ./includes/footer.jade
