doctype html
html(lang="en")
  include ./includes/head.pug
  body.container.bg-bbbf-black
    include ./includes/top-nav.pug

    section.bg-white.container.px4.py2.bg-bbbf-blue.font-text
      div.max-width-2
        img(src="/images/logo.png")
      .font-text
        :markdown-it
            ## [Normas e Medidas de Segurança - Fórum Cultural José Manuel Figueiredo](https://www.cm-moita.pt/cmmoita/uploads/writer_file/document/7069/normasemedidasdeseguranca.pdf)

    include ./includes/footer.pug
