doctype html
html(lang="en")
  include ./includes/head.pug
  body.container.bg-bbbf-black
    include ./includes/top-nav.pug

    section.bg-bbbf-blue.container.px3.py4
      .clearfix.mxn2
          a.sm-col.sm-col-3.px2(href="/images/cartaz-2020.jpg", data-featherlight="image")
            img(src="/images/cartaz-2020.jpg")
          a.sm-col.sm-col-3.px2(href="/images/cartaz-2019.jpg", data-featherlight="image")
            img(src="/images/cartaz-2019.jpg")
          a.sm-col.sm-col-3.px2(href="/images/cartaz-2018.jpg", data-featherlight="image")
            img(src="/images/cartaz-2018.jpg")
          a.sm-col.sm-col-3.px2(href="/images/cartaz-2017.png", data-featherlight="image")
            img(src="/images/cartaz-2017.png")
      .clearfix.mxn2
          a.sm-col.sm-col-3.px2(href="/images/cartaz-2016.png", data-featherlight="image")
            img(src="/images/cartaz-2016.png")
          a.sm-col.sm-col-3.px2(href="/images/cartaz-2015.png", data-featherlight="image")
            img(src="/images/cartaz-2015.png")
          a.sm-col.sm-col-3.px2(href="/images/cartaz-2015-2.jpg", data-featherlight="image")
            img(src="/images/cartaz-2015-2.jpg")
          a.sm-col.sm-col-3.px2(href="/images/cartaz-2014.png", data-featherlight="image")
            img(src="/images/cartaz-2014.png")
      .clearfix.mxn2
          a.sm-col.sm-col-3.px2(href="/images/cartaz-2013.png", data-featherlight="image")
            img(src="/images/cartaz-2013.png")
          a.sm-col.sm-col-3.px2(href="/images/cartaz-2012.png", data-featherlight="image")
            img(src="/images/cartaz-2012.png")

    include ./includes/footer.pug
