doctype html
html(lang="en")
  include ./includes/head.jade
  body.container.bg-bbbf-black
    include ./includes/top-nav.jade

    section.bg-bbbf-blue.container.px3.py4
      .clearfix.mxn2
          .sm-col.sm-col-3.px2
            img(src="/images/cartaz-2015.png")
          .sm-col.sm-col-3.px2
            img(src="/images/cartaz-2014.png")
          .sm-col.sm-col-3.px2
            img(src="/images/cartaz-2013.png")
          .sm-col.sm-col-3.px2
            img(src="/images/cartaz-2012.png")

    include ./includes/footer.jade
