doctype html
html(lang="en")
  include ./includes/head.jade
  body.container.bg-bbbf-black
    include ./includes/top-nav.jade

    header.center.px3.py4.white.bg-black.bg-cover(style="background-image: url(/images/news/" + header.pic +")")
      h1.h1.h0-responsive.caps.mt4.mb0.regular=header.title

    section.container.px2.py3.bg-white
      .clearfix.mxn2
        each post in news
            .sm-col.sm-col-4.px2
              h2.h1.mb0=post.title
              img(src="/images/news/" + post.pic)
              p=post.body

    include ./includes/footer.jade
