doctype html
html(lang="en")
  include ./includes/head.pug
  body.container.bg-black
    include ./includes/top-nav.pug

    div.my-slider
      ul
        li
            a(href="/"+languageCode+"/programa")
            .sixteen-nine
              header.content.center.px3.py1.white.bg-black.bg-cover(style="background-image: url(/images/facebook-2021.png)")
        li
            a(href="/"+languageCode+"/programa")
            .sixteen-nine
              header.content.center.px3.py1.white.bg-black.bg-cover(style="background-image: url(/images/facebook-2-2021.jpg)")
        li
            a(href="/"+languageCode+"/programa")
            .sixteen-nine
              header.content.center.px3.py1.white.bg-black.bg-cover(style="background-image: url(/images/facebook-3-2021.jpg)")
        //- each band in header
        //-   li
        //-     a(href="/"+languageCode+"/programa#" + band.slug)
        //-       .sixteen-nine
        //-         header.content.center.px3.py1.white.bg-black.bg-cover(style="background-image: url(/images/bandas/" + band.banner +")")
        //-           //- img(src="/images/bandas/"+band.slug+"-label.png", height="300").absolute.top-4.left-minus-4

    section.container.px4.py2.bg-bbbf-blue
      .container.border-bottom-dotted.pb3
        .px3
          //img(src="/images/home-banner-logo.png")
        :markdown-it
          **A 10ª edição do BB Blues Fest regressa, este ano, entre os dias 23 de Setembro e 3 de Outubro.**
        .table
          h2.font-title.black.table-cell.black.align-middle
           a(href="/"+languageCode+"/programa").link-black="Consulte o programa desta 10ª Edição".toUpperCase()
          a(href="/"+languageCode+"/programa").link-black
            img(src="/images/seta.png").table-cell

      .clearfix.mxn2.pb2
        each post in news
            .sm-col.sm-col-4.px2
              h4.h4.font-title.mb0.black
                a(href="/"+languageCode+"/news/" + post.id).link-black.font-title=post.title.toUpperCase()
              a(href="/"+languageCode+"/news/" + post.id)
                img(src="/images/news/thumb-" + post.pic)
              p.font-text.justify !{post.body}

    include ./includes/footer.pug
