doctype html
html(lang="en")
  include ./includes/head.pug
  body.container.bg-black
    include ./includes/top-nav.pug

    div.my-slider
      ul
        li
            a(href="/"+languageCode+"/programa")
            .sixteen-nine
              header.content.center.px3.py1.white.bg-black.bg-cover(style="background-image: url(/images/home-banner.png)")
        each band in header
          li
            a(href="/"+languageCode+"/programa#" + band.slug)
              .sixteen-nine
                header.content.center.px3.py1.white.bg-black.bg-cover(style="background-image: url(/images/bandas/" + band.banner +")")
                  //- img(src="/images/bandas/"+band.slug+"-label.png", height="300").absolute.top-4.left-minus-4

    section.container.px4.py2.bg-bbbf-blue
      .container.border-bottom-dotted.pb3
        .px3
          img(src="/images/home-banner-logo.png")
        :markdown-it
          **A 7ª edição do BB Blues Fest volta, este ano, entre os dias 31 de Maio e 3 de Junho.**

          O BB Blues Fest tem apostado sempre na qualidade do seu cartaz, apresentando os melhores nomes do blues português e internacional,
          numa simbiose perfeita que celebra as raízes deste género musical e esta edição não vai ser exceção.

          Com um registo mais descontraído, acontecerá no dia 3 de Junho o Blues Piquenique, no Parque José Afonso.

          O BB Blues Fest resulta de uma parceria entre a Associação BB Blues Portugal, a Câmara Municipal da Moita e a União de Freguesias da Baixa da Banheira e Vale da Amoreira.

          Está, desde já, convidado a assistir ao 7º BB Blues Fest.
        .table
          h2.font-title.black.table-cell.black.align-middle
           a(href="/"+languageCode+"/programa").link-black="Consulte o programa desta 7ª Edição".toUpperCase()
          a(href="/"+languageCode+"/programa").link-black
            img(src="/images/seta.png").table-cell

      .clearfix.mxn2.pb2
        each post in news
            .sm-col.sm-col-4.px2
              h2.h2.font-title.mb0.black
                a(href="/"+languageCode+"/news/" + post.id).link-black.font-title=post.title.toUpperCase()
              a(href="/"+languageCode+"/news/" + post.id)
                img(src="/images/news/thumb-" + post.pic)
              p.font-text.justify !{post.body}

    include ./includes/footer.pug
