doctype html
html(lang="en")
  include ./includes/head.pug
  body.container.bg-bbbf-black
    include ./includes/top-nav.pug

    section.bg-white.container.px4.py2.bg-bbbf-blue
      h2.font-title.white= "Alojamento".toUpperCase()
      a.left.mr1(href="https://www.melia.com/en/hotels/portugal/lisbon/tryp-montijo-parque-hotel/index.htm")
          img(src="/images/tryp-logo.jpg")
      .font-text.py.clearfix
        :markdown-it
          Condições especiais de alojamento para os espetadores do BB Blues Fest. Ao contactar o Hotel deve
          referir que vai assistir ao BB Blues Fest.
      h2.font-title.white= "Palco Principal - Largo do Mercado Mensal Moita".toUpperCase()
      .font-text
        :markdown-it
          **Clique em "Direções" e coloque o seu ponto de partida!**
      iframe(src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d3115.945822992162!2d-8.99354333458984!3d38.650126029609616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m0!4m3!3m2!1d38.6484655!2d-8.9938486!5e0!3m2!1spt-PT!2spt!4v1631044091302!5m2!1spt-PT!2spt",width="600",height="450",frameborder="0",style="border:0",allowfullscreen)
      h2.font-title.white= "Noite de Abertura - Forum Cultural José Manuel Figueiredo".toUpperCase()
      .font-text
        :markdown-it
          R. José Vicente, 2835-134 Baixa da Banheira, Portugal

          **Clique em "Direções" e coloque o seu ponto de partida!**
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.4715657317865!2d-9.048163483894864!3d38.66102926844573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1937b9d59fd1d3%3A0x1a3ae9d330be2094!2sF%C3%B3rum+Cultural+Jos%C3%A9+Manuel+Figueiredo!5e0!3m2!1sen!2sie!4v1464799780208",width="600",height="450",frameborder="0",style="border:0",allowfullscreen)
      h2.font-title.white= "Blues Picnic - Parque José Afonso".toUpperCase()
      .align-center
        img(src="/images/picnic-map.jpg")
