doctype html
html(lang="en")
  include ./includes/head.jade
  body.container.bg-bbbf-black
    include ./includes/top-nav.jade

    section.bg-bbbf-blue.p3
      .h2.font-title.mb2=item.title
      img.left.mr2.mb2(src="/images/news/" + item.pic).max-width-1
      .font-text.justify
        !{item.body}

    include ./includes/footer.jade
