doctype html
html(lang="en")
  include ./includes/head.pug
  body.container.bg-bbbf-black
    include ./includes/top-nav.pug

    section.bg-bbbf-blue.p3
      .h2.font-title.mb2=item.title.toUpperCase()
      img.left.mr2.mb2(src="/images/news/" + item.pic).max-width-1
      .font-text
        !{item.body}

    include ./includes/footer.pug
