doctype html
html(lang="en")
  include ./includes/head.pug
  body.container.bg-bbbf-black
    include ./includes/top-nav.pug

    section.bg-white.container.px4.py2.bg-bbbf-blue
      div.max-width-2
        img(src="/images/home-banner-logo.png")
      .font-text
        :markdown-it
          Para obter declarações, entrevistas, acreditações ou qualquer outra informação adicional, contacte:

          Gabinete de Informação e Relações Públicas Câmara Municipal da Moita

          **Email**: cruz@mail.cm-moita.pt **Tlm**: 912 214 692

    include ./includes/footer.pug
