doctype html
html(lang="en")
  include ./includes/head.jade
  body.container.bg-bbbf-black
    include ./includes/top-nav.jade

    section.bg-white
        each item in bands
          a(href="/bandas/" + item.slug)
              h2.h1.mb0=item.name
          img(src="/images/bandas/" + item.pic).max-width-1

    include ./includes/footer.jade
